<span class="fs-typeahead-match">
  <li class="fs-typeahead-match-item select2-search-choice" ng-repeat="$item in $select.selected" 
      ng-class="{'select2-search-choice-focus':$selectMultiple.activeMatchIndex === $index, 'select2-locked':$select.isLocked(this, $index)}"
      fs-typeahead-sort="$select.selected">
      <span uis-transclude-append></span>
      <a href="javascript:;" class="fs-typeahead-match-close select2-search-choice-close" ng-click="$selectMultiple.removeChoice($index)" tabindex="-1"></a>
  </li>
</span>
